body {
    position: fixed;
    margin: 0;
    padding: 0;
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    height: 100vh;
    width: 100vw;
}

.card {
    width: 100%;
    max-width: 15em;
    margin-left: 2em;
    background-color: rgb(42, 42, 42);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card h1 {
    margin-top: 0.5em;
}

.btn-card {
    background-color: rgb(62, 62, 62);
    width: 100%;
    border-radius: 5px;
    height: 2em;
}

.btn-card:hover {
    background-color: rgb(72, 72, 72);
    border: solid 1px rgb(92, 92, 92) !important;
}

.wrapper {
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 15em));
    gap: 1em;

    justify-content: left;    
}

